*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
   
    display: flex;
    justify-content:center;
    align-items: center;
    background: black;
    min-height: 40rem;


}
nav{
    position: relative;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    background: rgb(24, 3, 3);
    display: flex;
    justify-content:center;
    align-items: center;
    

}

 a{
    text-decoration: none;
    text-align: center;
    color:antiquewhite;
    font-size: large;
    padding:15px;
    right:10px;
    cursor: pointer;
    position:relative ;
    display: inline-block;
    z-index: 1;


}
span{
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100px;
    border-radius: 5px;
    background:linear-gradient(45deg, rgb(58, 10, 10), rgb(255, 188, 4));
    transition: 0.7s;
}
a:nth-child(1):hover~span{left:0;}
a:nth-child(2):hover~span{left:85px; width: 100px;}
a:nth-child(3):hover~span{left:180px;}
a:nth-child(4):hover~span{left:280px;}
a:nth-child(5):hover~span{left:380px; width: 122px;}
